.person:hover {
  background: #eee;
  border-radius: 10px;
  transform: scale(1.32, 1.48);
  transition: transform 1s;
  z-index: 1;
}

.person:hover .photo__img {
  border-radius: 60px;
}

.person:not(:hover) {
  transition: transform 1s;
}

.person:hover .details__extra-inf {
  visibility: visible;
}

.person:not(:hover) .details__extra-inf {
  visibility: hidden;
}
