@media (min-width: 750px) {
  body .people {
    padding: 30px 130px 145px;
  }
}

@media (min-width: 1000px) {
  body .people {
    padding: 30px 25px 187px;
  }
}

@media (min-width: 1500px) {
  body .people {
    padding: 30px 275px 187px;
  }
}
